@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

img {
  max-width: 238px;
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0 3rem;
  padding: 0 3rem;
}

header h1 {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 36px;
}

header #title-right {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

header p {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  max-width: 440px;
}

main {
  margin-bottom: 4rem;
}

main .img-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, 1fr))[3];
      grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-items: center;
}

main .img-content .img:nth-child(3n + 2) {
  margin-top: 100px;
}

main .img-content .img {
  margin: 0 1rem;
}

main .img-content .img .img-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .img-content .img .img-top img {
  margin-right: 0.5rem;
}

main .img-content .img .img-top p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-transform: uppercase;
  font-family: "PT Serif";
  font-weight: 400;
  font-size: 12px;
}

main .img-content .img h6 {
  margin-top: 1rem;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
}

@media screen and (max-width: 900px) {
  header {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header p {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 36px;
  }
  header p {
    font-size: 14px;
  }
  header #title-right {
    font-size: 18px;
  }
  main .img-content {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
  }
  main .img-content .img:nth-child(3n + 2) {
    margin-top: 0px;
  }
  main .img-content .img:nth-child(2n + 2) {
    margin-top: 100px;
  }
  main .img-content .img .img-top p {
    font-size: 12px;
  }
  main .img-content .img .img-top img {
    margin-right: 0.25rem;
  }
  main .img-content .img h6 {
    font-size: 14px;
  }
}
