@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-['Montserrat'];
}

h1 {
  font-family: "Playfair Display";
}

h2 {
  @apply text-lg md:text-2xl text-[#333] font-bold;
  font-family: "Playfair Display";
}

h3 {
  font-family: "Playfair Display";
  @apply italic text-base md:text-lg font-normal text-[#333];
}
input {
  @apply mr-3 mt-1;
}

label {
  @apply text-sm md:text-base text-[#333] font-normal max-w-[554px] w-full;
}

span {
  @apply font-bold;
}

h4 {
  font-family: 'Playfair Display';
  @apply text-2xl text-white bg-[#F2994A] w-[36px] text-center h-[36px] mr-3 rounded-[6px];
}

.textOrange {
  @apply text-[#F2994A];
}

.spanCol {
  @apply col-span-3 md:col-span-1
}