@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-rl {
  writing-mode: vertical-rl;
}

h1,.text-pt {
  font-family: "PT Serif";
}

@media screen and (min-width: 768px) {
  .grid-item:nth-child(3n + 2) {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .grid-item:nth-child(2n + 2) {
    margin-top: 50px;
  }
}
