.proj-card {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-gap: 2rem;
    margin-bottom: 2rem;
}

.card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    img {
        width: 100%;
        border-radius: 12px;
        max-height: 292px;
    }
    .tag {
        display: flex;
        margin: 0.75rem 0 1rem;
        p {
          color: $gray-2;  
          font-size: 16px;
            margin-right: 0.5rem;
        }
    }
    .title {
        color: $gray;
        font-size: 24px;
        margin-bottom: 1rem;
    }
    p {
        color: $gray-3;
    }
    .btn {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn-outline,.btn-primary {
            border: 1px solid $blue;
            padding: 0.75rem 2.5rem;
            font-size: 18px;
            border-radius: 12px;
            cursor: pointer;
        }
        .btn-primary{
            background-color: $blue;
            color: white;
    
        }
        .btn-outline {
            background-color: white;
            
            color: $blue;
        }
    }
}

@media screen and (max-width:1070px) {
    .proj-card {
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
}

@media screen and (max-width:830px) {
    .proj-card {
        grid-template-columns: repeat(1,minmax(0,1fr));
    }
}