.hobby {
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    // max-width: fit-content;
    h2 {
        font-size: 24px;
        color: $gray-2;
    }
    .hobby-content {
        .hobby-box {
            img {
                border-radius: 12px;
                max-width: 380px;
                width: 100%;
                max-height: 140px;
                margin-bottom: 1rem;
                margin-top: 1.25rem;
            }
            h2 {
                font-size: 18px;
                color: $gray;
                margin-bottom: 0.75rem;
            }
            p{
                font-size: 16px;
                color: $gray-3;
            }   
        }
    }
}