.skill {
    padding: 1.5rem;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 2rem;
  h1 {
    text-transform: uppercase;
    font-size: 18px;
    color: $gray-2;
  }
  .skill-level {
    margin-top: 0.5rem;
    .skill-container {
      display: flex;
      justify-content: space-between;
      p {
        white-space: nowrap;
        font-size: 16px;
        color: $gray-2;
      }
      .skill-box {
        margin-bottom: 1.25rem;
        max-width: 240px;
        background-color: $gray-4;
        height: 0.75rem;
        width: 100%;
        overflow: hidden;
        border-radius: 9px;
        .skill-length {
          background-color: $blue;
          height: 0.75rem;
          border-radius: 9px;
        }
      }
    }
  }
}
